table, th, td {
    border: 1px solid var(--headings);;
    border-collapse: collapse;
    color: var(--headings);
}

th {
    background-color: #228B22;
}

tr:nth-child(odd) {
    background-color: #484f51;
}

tr:hover {
    background-color: black;
}