nav {
    height: 3rem;
}

ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000000;
}

li {
    font-weight: bold;
    position: relative;
}

/*Tab-Separator*/
li:not(:last-child)::after {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    height: 80%;
    background-color: #AAAAAA;
}

li a {
    display: block;
    color: var(--headings);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    cursor: pointer;
}

li a:hover:not(.active) {
    background-color: #36454F;
}

.active {
    background-color: #00AA00;
}